html {
  position: relative;
  height: 100%;
}

body {
  height: 100%;
  background-color: black;
}

.follower {
  position: absolute;
}

h1 {
  text-align: center;
  color: grey;
}

.box-title {
  color: white;
  position: absolute;
  top: 0px;
  font-size: 18px;
}

.score{
  right: 190px;  
}

.timer{
  right: 90px;
}

#startBtn {
  font-size: 20px;
  width: 120px;
  border: 2px solid black;
  margin: 180px auto;
  padding: 10px;
}

#gamebox{
  background-color: white;
  margin: 50px 0px; 
  text-align: center;
  border: 2px dashed grey;
  height: 500px;
  max-height: 500px;
}

#timer {
  font-size: 30px;
  position: absolute;
  border-radius: 5px;
  top: 40px;
  right: 50px;
  border: 2px solid black;
  display: block;
  padding: 10px;
  min-width: 60px;
  height: 30px;
  background-color: firebrick;
  opacity: 0.5;
}

.follower img{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

#score {
  font-size: 30px;
  position: absolute;
  border-radius: 5px;
  top: 40px;
  right: 150px;
  border: 2px solid black;
  display: block;
  padding: 10px;
  min-width: 60px;
  height: 30px;
  background-color: firebrick;
  opacity: 0.5;
}
