body {
  background-color: black;
}

h1 {
  text-align: center;
  color: grey;
}

#startBtn {
  font-size: 20px;
  width: 120px;
  border: 2px solid black;
  margin: 180px auto;
  padding: 10px;
}

#gamebox{
  background-color: white;
  margin: 50px 0px; 
  text-align: center;
  border: 2px dashed grey;
  min-height: 500px;
}

#timer {
  font-size: 30px;
  position: absolute;
  border-radius: 5px;
  top: 30px;
  right: 50px;
  border: 2px solid black;
  display: inline-block;
  padding: 10px;
  min-width: 60px;
  height: 30px;
  background-color: firebrick;
  opacity: 0.5;
}

.follower {
  background-color: red;
  opacity: 0.4;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
